<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TUNE HUB</title>
<style type="text/css">
.inline {
	display: flex;
	justify-content: space-around;
}

a {
border:1px solid white;
color:white;
	border: 1px solid;
	font-size: 20px;
	cursor: pointer;
	font-weight: bolder;
	padding: 10px;
	border-radius: 50px;
	text-decoration: none;
}
h1{
color: green;
text-align: center;
padding: 10%;
}
a:hover {
	background-color: red;
	color: white;
}
.body{
background-image:
		url("https://www.1zoom.me/big2/64/189244-avallonist.jpg");
		background-size: cover;
margin:10%;
text-align: center;
}
</style>
</head>
<body class="body">
	<h1>Well come Tune HUB App</h1>
	<div class="inline">
		<a href="/map-register">New User? Register Here</a><br /> <a
			href="/map-login">Login</a>
	</div>
</body>
</html>